#!/.config/tmux/tmux.conf
#/*
#!/.config
#/.config/*
#!/.config/alacritty/
#!/.config/awesome/
#!/.config/nvim/
#!/.config/rofi/
#/.config/qtile/__pycache__/*
#!/configs
#!.bashrc
#!.bashrc-personal
#!/Documents/configsandcommands/basicappsGUI.txt
#!/Documents/configsandcommands/basicappsTERMINAL.txt
#/.config/qtile/*/*.pyc
#/.config/nvim/autoload
