.android/
Arduino/
.arduino15/
.att_backups/
.bash_history/
.bash_logout/
.bash_profile/
.bashrc.bak/
.bin/
.bitmonero/
.cache/
.cmake/
code/
.conkyrc/
cpuid/
.dendron/
.dendron.uuid/
.designer/
Desktop/
.dmrc/
.dosbox/
Downloads/
.elinks/
.face/
.FBReader/
.fehbg/
.fltk/
Games/
.gksu.lock/
.gnome/
.gnupg/
.gtkrc-2.0/
.hplip/
.java/
.joplin-bin/
.jssc/
.librewolf/
.local/
.matlab/
Monero/
.mozilla/
.mume/
Music/
myapps/
.node-gyp/
node_modules/
.npm/
.nx/
.octave_hist/
Pictures/
.pki/
pliczek.txt/
Public/
.pulse-cookie/
.putty/
.python_history/
.qt/
.r/
R/
.RData/
.Rhistory/
.rnd/
.screenlayout/
.screenrc/
.shared-ringdb/
snap/
.ssh/
.steam/
.steampath -> /home/qql/.steam/sdk32/steam/
.steampid -> /home/qql/.steam/steam.pid/
Templates/
.thunderbird/
.var/
.veyon/
Videos/
.viminfo/
.vnc/
.vscode/
.vscode-oss/
.w3m/
.wget-hsts/
.Xauthority/
.Xresources/
.xsession/
.xsession-errors/
.xsession-errors.old/
.xsessionrc/
.zotero/
Zotero/
.zshrc.bak/
!Documents/configsandcommands/*
